# Visual studio files
/led-controller/obj
/led-controller/Properties
/led-controller/App.config
/led-controller/led-controller.csproj
/led-controller/led-controller.sln
.vs/
/led-controller/Form1.resx
